@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    /* border: red 1px dotted; */
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/**header**/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 20px;
}
header .navi{
    padding: 0;
    display: flex;
    margin: 10px 0px;
    gap: 30px;
}
header .logo {
    padding: 0;
    font-size: 24px;
    font-weight: 900;
}
header a {
    font-size: 18px;
    color: #f9faf8;
}

/** main **/

main {
    display: flex;
    flex-direction: column;
}
/**rafon**/
.new-upload {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 500px;
}
.new-upload .descript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 600px;
    height: 271px;
    text-align: left;
    flex-shrink: 0;
}
.descript h2 {
    font-size: 48px;
}
.descript p {
    font-size: 18px;
    color: #e5e7eb;
}
.descript button {
    border-radius: 5px;
    padding: 5px 20px;
    color: #f9faf8;
    background-color: #3882f6;
}
.img {
    width: 600px;
    height: 271px;
    border-radius: 10px;
    flex-shrink: 1;
} 

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**buggy**/
.ranking {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    padding-bottom: 70px;
}
.ranking h2 {
    font-size: 42px;
    font-weight: bolder;
}
.card-container{
    display: flex;
    gap: 40px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card img {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: #3882f6 3px solid;

}
.card p {

    width: 200px;

}
/**quote**/
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    gap: 10px;
    height: 400px;
}
.quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 850px;
}
.quote span{
    color: black;
    font-size: 24px;
    font-weight: bold; 
}
/**niebeiski paske**/
.zachecacz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.zachecacz {
    box-sizing: border-box;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #3882f6 ;
    border-radius: 10px;
    flex-basis: 850px;
}
.left-side h2{
    font-size: 24px;
    padding-bottom: 10px;
}
.left-side p{
    font-size: 16px;
}
.right-side button{
    border-radius: 5px;
    padding: 5px 20px;
    color: #f9faf8;
    background-color: #3882f6;
    border: solid #f9faf8 2px;
}

/**footer**/
footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    font-size: 18px;
    font-weight: bold;
}